/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterisk selectors to override default styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}
/* Styles for the header, main content, and footer sections */

header {
    background-color: white;
    padding: 0 rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;

}

h1{
    font-family: 'Oswald', sans-serif;
}
main{
    background-color: lightblue;
    /* Ensure the main content takes up available space */
    flex: 1 0 auto;
}

footer {
    background-color: orangered;
}



